body {
	background-color: #44d9e6;
}

h1 {
	font-family: 'Allerta Stencil';
	font-size: 150px;
	color: white;/*#fff952;*/
  position: centre-align;

}

h2 {
	font-family: 'Allerta Stencil';
	font-size: 30px;
	color: #fff952;
}

#navbr a {
	font-family: 'Allerta Stencil';
	font-size: 20px;
	color: #fff952;
}



.row{
	display: flex;
	padding: 200px;
	position: absolute;
}

#navbr {
	background-color: transparent !important;
	padding:15px;
}

button {
                  border-radius: 2px;
                  border: 0px;
                  color: #a8a8a8;
                  text-shadow: none;
                  background-color: transparent;
}


.btn.btn-primary {
                  border-radius: 2px;
                  border: 0px;
                  color: transparent;
                  text-shadow: none;
                  background-color: transparent;
}

ul .btn.btn-primary {
                  border-radius: 2px;
                  border: 0px;
                  color: white;
                  text-shadow: none;
                  background-color: transparent;
}



#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  display: none;
  text-align: center;
 }

 #overlay img {
  margin-top:10%;
 }

 #overlay p {
  font-family: 'Allerta Stencil';
	font-size: 30px;
	color: #fff952;
 }